<form action="/publish" method="POST">
  <input name="title" placeholder="title" required/>
  <textarea name="content" required>{{markdown}}</textarea>
  <input name="password" type="password" placeholder="password" required />
  <button type="submit">Publish</button>
</form>