@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.author_info {
  padding-top:3%;
  padding-bottom:1%;
  font-size: 120%;
  text-align: center;
}

img.author_pfp {
  width:auto;
  max-height:20vh;
  max-width:20vh;
  border-radius: 50%;
  margin:2% auto;
  display:block;
}

.author_info p {
  margin:1% auto;
  font-size:110%;
  width:35vw;
  color:#00000150;
}

svg.body, img.body {
  position:fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  height:100vh!important;
  width:100vw!important;
  z-index: -1;
}

.post {
  display: block;
  margin: 1% auto;
  width:40vw;
  padding:2%;
  -webkit-box-shadow: 0px 2px 11px 2px rgba(130,130,130,0.5);
-moz-box-shadow: 0px 2px 11px 2px rgba(130,130,130,0.5);
box-shadow: 0px 2px 11px 2px rgba(130,130,130,0.5);
  transition: box-shadow 0.2s ease-in;
  border-radius: 6px;
}

.post:hover {
  -webkit-box-shadow: 0px 2px 11px 2px rgba(130,130,130,0.7);
-moz-box-shadow: 0px 2px 11px 2px rgba(130,130,130,0.7);
box-shadow: 0px 2px 11px 2px rgba(130,130,130,0.7);
}

.post h3 {
  font-weight: normal;
  font-style: italic;
  font-weight:300;
  color:#777777;
}

h1.sep {
  text-align:center;
  margin:2%;
  font-style: italic;
}

.footer {
  background:#273036;
  text-align:center;
  color:#aaa;
  padding:2%;
}

.footer a {
  color:#ddd;
  text-decoration:underline;
  font-style: italic;
  transition:color 0.2s ease;
}

.footer a:hover {
  color:#fff;
}